Binaries/
DerivedDataCache/
Intermediate/
Saved/
*.log
*.pdb
*.obj
*.pak
*.ucas
*.utoc
WindowsNoEditor/
LinuxNoEditor/
Android_*/
IOS/**/Paks/
*.pak
*.ucas
*.utoc
WindowsNoEditor/
LinuxNoEditor/
Android_*/
IOS/
